$singup-backhground-color: #e7edf6;
$singup-white-color: #ffffff;
$signup-pink-color: #ff0066;
$singup-grey-color-1: #7f8a9c;

.signup {
  background-color: $singup-backhground-color;
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
  min-height: 570px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  &_container {
    width: 100%;
    height: 100%;
    background-color: $singup-white-color;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    max-height: 700px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    &_images {
      position: relative;
      height: 25%;
      min-height: 10rem;
      overflow: hidden;
      border-radius: 2rem 2rem 0 0;

      &:after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        pointer-events: none;
        background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 1) 90%
        );
        width: 100%;
        height: 4em;
      }

      &_cover {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        position: relative;
      }

      &_logo {
        position: absolute;
        width: 6rem;
        height: 6rem;
        top: 1rem;
        right: 1rem;
      }
    }
  }

  &_content {
    padding: 4rem;

    &_heading {
      font-family: "Poppins" !important;
      color: $signup-pink-color;
      font-size: 2.7rem;
      line-height: 3rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    &_subHeading {
      font-size: 2.2rem;
      color: $singup-grey-color-1;
      font-style: italic;
      margin-bottom: 2rem;
    }
  }
}

@media only screen and (min-width: 600px) {
  .signup {
    min-height: 700px;
    &_container {
      flex-direction: row-reverse;

      &_images {
        height: 100%;
        border-radius: 0 2rem 2rem 0;

        &_logo {
          width: 8rem;
          height: 8rem;
          top: 3rem;
          right: 3rem;
        }
      }
    }

    &_content {
      padding: 6rem;
    }
  }
}

@media only screen and (min-width: 900px) {
  .signup {
    &_content {
      padding: 6rem;

      &_heading {
        margin-bottom: 4rem;
      }

      &_subHeading {
        margin-bottom: 4rem;
      }
    }
  }
}
