$validation-pink-color: #ff0066;
$validation-grey-color: #7f8a9c;

.validation {
  display: flex;
  flex-direction: column;

  &_top {
    width: 100%;
  }

  &_middle {
    margin-bottom: 30px;
    span {
      color: $validation-pink-color;
    }

    div {
      color: $validation-grey-color;
    }
  }

  &_bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    justify-self: flex-end;
  }
}

@media only screen and (min-width: 600px) {
  .validation {
    &_bottom {
      margin-top: 50px;
    }
  }
}
